---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactSection from "../components/home/ContactSection.astro";
import FaqSection from "../components/home/FaqSection.astro";
import HeroSection from "../components/home/HeroSection.astro";
import IncludedSection from "../components/home/IncludedSection.astro";
import PricingSection from "../components/home/PricingSection.astro";
import ProcessSection from "../components/home/ProcessSection.astro";
import ReviewsSection from "../components/home/ReviewsSection.astro";
import ServicesSection from "../components/home/ServicesSection.astro";
import StickyMobileCta from "../components/home/StickyMobileCta.astro";
import TrustSection from "../components/home/TrustSection.astro";
import WhySection from "../components/home/WhySection.astro";
import WorkPreviewSection from "../components/home/WorkPreviewSection.astro";
import { siteContent } from "../data/siteContent";
---

<BaseLayout title={`${siteContent.brand.name} - ${siteContent.brand.shortDescriptor}`} description={siteContent.meta.defaultDescription}>
  <main id="main-content" class="min-h-screen text-[var(--dw-ink)]">
    <HeroSection />
    <TrustSection />
    <ServicesSection />
    <WorkPreviewSection />
    <IncludedSection />
    <WhySection />
    <ReviewsSection />
    <PricingSection />
    <ProcessSection />
    <FaqSection />
    <ContactSection />
    <StickyMobileCta />
  </main>
</BaseLayout>
